# Logs
logs
*.logs

uploads/

alembic/

# Environment variables
.env
.env.*
!.env.example

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/

# Cache
.cache/
.eslintcache

# TypeScript
*.tsbuildinfo

# Temporary files
tmp/
temp/

# Local Netlify folder
.netlify/

# Local Vercel folder
.vercel/

# Docker
docker-compose.override.yml

# Firebase
.firebase/
